streamlit
google-generativeai
langchain
langchain-google-genai
pypdf
# faiss-cpu # Hapus atau komentari
python-dotenv
langchain-community
cryptography
sentence-transformers
chromadb # Tambahkan ini
tiktoken # Tambahkan ini